[req]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[req_distinguished_name]
C  = AR
ST = BuenosAires
L  = CABA
O  = Veritran
OU = AppSec
CN = your-server.example.com

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = your-server.example.com
DNS.2 = your-server
DNS.3 = localhost
IP.1 = 127.0.0.1
IP.2 = 127.0.0.1
